<nav class="navbar navbar-expand navbar-custom px-2">

  <a class="navbar-brand px-4" href="#" style="color: white;">BRAINQY</a>
  <div (click)="sideNavToggle()" class="side-nav-button p-2 me-3">
    <i class="fa-solid fa-bars" style="color: white;"></i>
  </div>
  <div class="navbar-collapse">
    <ul class="navbar-nav me-auto">

    </ul>
  </div>

  <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <select class="form-select" [(ngModel)]="selectedLanguage" (ngModelChange)="switchLanguage()" name="languageSelect">
            <option [value]="'en'" [selected]="selectedLanguage === 'en'">English</option>
            <option [value]="'hi'" [selected]="selectedLanguage === 'hi'">Hindi</option>
        </select>
    </li>
</ul>
  

  <!-- Profile dropdown -->
  <div class="profile-logo dropstart">
    <button class="btn btn-outline-light dropdown-toggle" id="profileDropdown" data-bs-toggle="dropdown">
      {{ this.username }}
    </button>

    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="profileDropdown">
      <li *ngIf="authService.isAuthenticated()">
        <a (click)="logout()" class="dropdown-item" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>
